.navbar {
    background-color: #4CD4CA !important;
}

.navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar-nav {
    margin-left: 30%;
}

.navbar-brand img {
    margin: 2px;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 45%;
}

.brand-text {
    margin: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container-fluid {
    padding-right: var(--bs-gutter-x,1.75rem);
    padding-left: var(--bs-gutter-x,1.75rem);
}
